.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card_{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 100%;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_{
  width: 15vw;
  height: 7vh;
  background-color: aqua;
  margin-top: 3%;
}
.note_{
  width: 15vw;
  height: 7vh;
  background-color: aqua;
  margin-top: 5%;
}
.button{
  background-color: rgb(51, 153, 129);
  color: azure;
  margin-top: 2%;
  padding: 3%;
}
.delete{
  background-color: rgb(153, 51, 71);
  color: azure;
  padding: 6%;
}
.edit{
  background-color: rgb(51, 82, 153);
  color: azure;
  padding: 6%;
}
.title_notes{
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkorchid;
}
.card__title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  color: rgb(204, 50, 196);
}